[Unit]
    Description=Gunicorn server for HOST_PLACE_SETUP 
[Service]
    Restart=on-failure  
    User=USER_PLACE_SETUP  
    WorkingDirectory=/home/USER_PLACE_SETUP/HOST_PLACE_SETUP/source/Website  
    ExecStart= /home/USER_PLACE_SETUP/HOST_PLACE_SETUP/venv/bin/gunicorn --bind unix:/tmp/HOST_PLACE_SETUP.socket Website.wsgi:application  
[Install]
    WantedBy=multi-user.target